@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = null;
  
  @* if the content being rendered does not contain the form property, pass the applicable content like this *@
  // ViewBag.FormContent = myInstanceOfIPublishedContent;

  @* if your form property is not called "form" on the content type, pass the property name like this *@
  // ViewBag.FormName = "myForm";
}
<!DOCTYPE html>
<html>
<head>
  <title>@Model.Content.Name</title>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css" />
</head>
<body>
  
  @* render the form *@
  @Html.Partial("FormEditor/Sync", Umbraco.AssignedContentItem);

  @* include jQuery *@
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>

  @* include Form Editor script for synchronous postback (using jQuery) *@
  <script src="/JS/FormEditor/FormEditorSync.js" type="text/javascript"></script>

</body>
</html>
