syntax: glob
*.bak
*.cmd
*.dll
*.lock
*.orig
*.pdb
*.suo
*.user
*.xml
.hgcheck
_ReSharper*
bin/
obj/
**/node_modules/
Source/Solution/packages/
Dist/
Grunt/temp/
Package/
Site/
Samples/**/packages
*.db
Source/Solution/.vs/config/applicationhost.config
