@inherits Umbraco.Web.Mvc.UmbracoViewPage<FormEditor.Fields.IFieldWithValidation>
<div class="text-danger validation-error hide" ng-class="{show: form.$submitted && form.@(Model.FormSafeName).$invalid}">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  @Model.ErrorMessage
</div>
