<?xml version="1.0" encoding="utf-8"?>
<FormEditor>
  <!-- add your custom fields here -->
  <CustomFields>
    <!--<Field type="my.custom.field" name="My custom field" fixedValues="false" />-->
  </CustomFields>

  <!-- setup your custom storage index here -->
  <Storage>
    <!--<Index type="FormEditor.SqlIndex.Storage.Index, FormEditor.SqlIndex" />-->
  </Storage>
</FormEditor>
