<?xml version="1.0" encoding="utf-8"?>
<FormEditor>
  <!-- add your super secret token here for executing jobs (see https://github.com/kjac/FormEditor/blob/master/Docs/jobs.md) -->
  <Jobs authToken=""></Jobs>
  
  <!-- add your custom fields here -->
  <CustomFields>
    <!--<Field type="my.custom.field" name="My custom field" fixedValues="false" />-->
  </CustomFields>

  <!-- 
    setup your custom storage index here 

    the SQL storage index mentioned below is not a part of the Form Editor core. you'll find it 
    among the sample projects at https://github.com/kjac/FormEditor/tree/master/Samples
  -->
  <Storage>
    <!--<Index type="FormEditor.SqlIndex.Storage.Index, FormEditor.SqlIndex" />-->
  </Storage>

  <!-- 
    if you have your own class to handle max submissions per user, you can specify here if you want it to be set globally,
    or you set it per instance of FormModel (FormModel.MaxSubmissionsForCurrentUserHandler)
  -->
  <Limitations>
    <!--<MaxSubmissionsForCurrentUserHandler type="My.Assembly.Limitations.MaxSubmissionsForCurrentUserHandler, My.Assembly" />-->
  </Limitations>

  <!-- add your custom conditions here -->
  <CustomConditions>
    <!--<Condition type="my.custom.condition" name="My custom condition" />-->
  </CustomConditions>

  <!-- set the column delimiter for CSV export here (defaults to semicolon) -->
  <!--<CsvExport delimiter="," />-->
</FormEditor>